<% if diary_entry.errors.any? %>
  <div class="error-messages" style="color: red;">
    <h4><%= pluralize(diary_entry.errors.count, "error") %> prevented this entry from being saved:</h4>
    <ul>
      <% diary_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: diary_entry, local: true, html: { multipart: true }) do |form| %>


  <%= form.hidden_field :entry_date, value: Date.today %>

  <% if current_user %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <h2 style="text-align: center; margin-bottom: 20px; color: #7a5c39;">How do you feel today?</h2>
  <div class="mood-cards" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 15px; margin-bottom: 20px;">
    <% moods.each do |mood| %>
      <label class="mood-card">
        <%= form.radio_button :mood_id, mood.id, id: "mood_#{mood.id}", class: "hidden-radio", checked: (form.object.mood_id == mood.id || params[:mood_id].to_i == mood.id) %>


        <div class="mood-card-content">
          <%= image_tag mood.icon, size: "40x40" %>
          <span class="mood-name"><%= mood.name %></span>
        </div>
      </label>
    <% end %>
  </div>
  
  <div>
    <p><%= form.label :content, "Write something (optional)" %><br>
    <%= form.text_area :content %></p>
  </div>

  <div style="margin-bottom: 1.5rem;">
    <% if diary_entry.persisted? && diary_entry.image.attached? %>
      <div style="text-align: center;">
        <p style="margin-bottom: 0.5rem;">Current Image:</p>
        <%= image_tag diary_entry.image.variant(resize_to_limit: [300, 300]), style: "border-radius: 8px;" %>

        <div style="margin-top: 0.5rem;">

          <label for="diary_entry_image" class="replace-image-button" style="margin-left: 10px; cursor: pointer;">
            ✏️ Replace
            <%= form.file_field :image, style: "display: none;" %>
          </label>
        </div>
      </div>
    <% else %>
      <p><%= form.label :image, "Upload Image (optional)" %></p><br>
      <p><%= form.file_field :image %></p>
    <% end %>
  </div>



  <div>
    <p><%= form.submit "Create" %></p>
  </div>

<% end %>



