<!DOCTYPE html>
<html>

  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>

    <title>MoodCalendarApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert] %>
      <script>
        alert("<%= flash[:alert] %>");
      </script>
    <% end %>
    <header style="display: flex; justify-content: space-between; align-items: center; background-color: #fffaf0; padding: 1rem 2rem;">

      <div>
        <%= link_to root_path, style: "text-decoration: none; display: block; padding: 0.5rem 1rem; font-size: 24px; font-weight: bold; color: #7a5c39;" do %>
          📘 Mood Calendar
        <% end %>
      </div>
      <div style="display: flex; gap: 1rem; align-items: center;">
        <% if user_signed_in? %>
          <span>
            Logged in as <%= link_to current_user.email, user_profile_path, class: "nav-user" %> |
            <%= button_to "Logout", destroy_user_session_path, method: :delete, form_class: "logout-form", class: "styled-button", form: { style: "display: inline;" } %>

            
          </span>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </header>
    <div class="container">
      <% unless user_signed_in? || devise_controller? %>
        <div id="auth-banner" style="text-align: center; background-color: #fff8e1; padding: 1rem;">
          <%= link_to 'Login', new_user_session_path, class: "auth-button" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "auth-button" %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
